@model EstacBem.Domain.Entities.Bolsao

<div class="container">
    <div class="row">
        <!-- Coluna Auxiliar -->
        <div class="col-3"></div>
        <!-- Heder -->
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-header">
                    <h5>Adicionar Bolsões</h5>
                </div>
                <!-- Formulário de cadastro -->
                <div class="card-body">
                    <form asp-action="Create" asp-controller="Bolsoes" method="post">
                        <!-- Nome -->
                        <div class="form-group">
                            <label>Nome</label>
                            <input asp-for="Nome" class="form-control" />
                        </div>
                        <!-- Quantidade de vagas -->
                        <div class="form-group">
                            <label>Quantidade de vagas</label>
                            <input asp-for="QtdVagas" class="form-control" />
                        </div>
                        <!-- Açõess -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <!-- Cadastrar -->
                                    <button class="btn btn-sm btn-success form-control" asp-action="Create" asp-controller="Bolsoes">
                                        Cadastrar <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <!-- Cancelar -->
                                <div class="col-6">
                                    <a asp-action="Index" asp-controller="Bolsoes" class="btn btn-sm btn-dark form-control">Cancelar <i class="fa fa-arrow-left ml-2" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Coluna Auxiliar -->
        <div class="col-4"></div>
    </div>
</div>