@model EstacBem.Domain.Entities.Precificacao

<div class="container">
    <div class="row">
        <!-- Coluna Auxiliar -->
        <div class="col-3"></div>
        <!-- Heder -->
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-header">
                    <h5>Editar Precificações</h5>
                </div>
                <!-- Formulário de edição -->
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Precificacoes" method="post">
                        <!-- Data -->
                        <div class="form-group">
                            <label>Data</label>
                            <input asp-for="DataHora" class="form-control" />
                        </div>
                        <!-- Valor primeira hora -->
                        <div class="form-group">
                            <label>Valor primeira hora</label>
                            <input asp-for="ValorPrimeira" class="form-control" />
                        </div>
                         <!-- Valor demais horas -->
                        <div class="form-group">
                            <label>Valor demais horas</label>
                            <input asp-for="ValorDemais" class="form-control" />
                        </div>
                         <!-- Observação -->
                        <div class="form-group">
                            <label>Observação</label>
                            <input asp-for="Observacao" class="form-control" />
                        </div>
                        <!-- Açõess -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <!-- Editar -->
                                    <button class="btn btn-sm btn-success form-control" asp-action="Edit" asp-controller="Precificacoes">
                                        Editar <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <!-- Cancelar -->
                                <div class="col-6">
                                    <a asp-action="Index" asp-controller="Precificacoes" class="btn btn-sm btn-dark form-control">Cancelar <i class="fa fa-arrow-left ml-2" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Coluna Auxiliar -->
        <div class="col-4"></div>
    </div>
</div>